.avatarContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;

   margin-bottom: 25px;
}
.figure {
   margin-top: 15px;
   width: 250px;
   height: 250px;
   border-radius: 50%;
   overflow: hidden;
   -webkit-box-shadow: 11px 12px 22px 0px rgba(34, 60, 80, 0.29);
   -moz-box-shadow: 11px 12px 22px 0px rgba(34, 60, 80, 0.29);
   box-shadow: 11px 12px 22px 0px rgba(34, 60, 80, 0.29);
}
.photo {
   margin: 0% -50% 0 -46%;
   width: 115%;
}
.fullName {
   text-transform: capitalize;
   font-family: "Ovo", serif;
   font-size: 28pt;

   display: inline;
   box-sizing: border-box;
   margin: 9px;
   padding: 3px;
   border-bottom: 3px solid #eff0f2;
}

.position {
   text-transform: uppercase;
   font-family: "Kollektif", sans-serif;
   font-size: 10pt;
   font-weight: 700;
   letter-spacing: 3px;
}
