.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   height: 150px;
}

a {
   text-decoration: none;
   color: #000 !important;
   font-family: "Roboto", sans-serif;
   font-size: 10pt;
}
.emailWrapper {
   width: 100%;
   display: flex;
   justify-content: flex-start;
}
.socialMediaWrapper {
   width: 100%;
   display: flex;
   justify-content: flex-start;
}
.phoneWrapper {
   width: 100%;
   display: flex;
   justify-content: flex-start;
}
.locationWrapper {
   width: 100%;
   display: flex;
   justify-content: flex-start;
}
svg {
   margin-right: 10px;
}
.email {
   padding-top: 3px;
}
.locationWrapper {
   font-family: "Roboto", sans-serif;
   font-size: 10pt;
}
.location {
   padding-top: 3px;
}
.number {
   padding-top: 3px;
}
@media screen and (min-width: 600px) {
   .wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      height: 50px;
   }

   .emailWrapper {
      flex: 0 1 50%;
   }

   .socialMediaWrapper {
      flex: 0 1 50%;
   }
   .phoneWrapper {
      flex: 0 1 50%;
   }
   .locationWrapper {
      flex: 0 1 50%;
   }
}
